.container {
    max-width: 45rem;

    padding: 3rem 2rem;

    margin: 0 auto;

    .thumbnailContainer {
        position: relative;

        img {
            border-radius: 1rem;
            -webkit-border-radius: 1rem;
            -moz-border-radius: 1rem;
            -ms-border-radius: 1rem;
            -o-border-radius: 1rem;
        }

        button {
            width: 3rem;
            height: 3rem;

            border: 0;
            font-size: 0;

            position: absolute;

            transition: 0.2s;
            -webkit-transition: 0.2s;
            -moz-transition: 0.2s;
            -ms-transition: 0.2s;
            -o-transition: 0.2s;

            border-radius: 0.75rem;
            -webkit-border-radius: 0.75rem;
            -moz-border-radius: 0.75rem;
            -ms-border-radius: 0.75rem;
            -o-border-radius: 0.75rem;

            z-index: 10;

            &:first-child {
                background-color: var(--purple);

                top: 50%;
                left: 0;

                transform: translate(-50%, - 50%);
                -webkit-transform: translate(-50%, - 50%);
                -moz-transform: translate(-50%, - 50%);
                -ms-transform: translate(-50%, - 50%);
                -o-transform: translate(-50%, - 50%);

                &:hover {
                    background-color: var(--purple-dark);
                }
            }
            &:last-child {
                background-color: var(--green);

                top: 50%;
                right: 0;

                transform: translate(50%, - 50%);
                -webkit-transform: translate(50%, - 50%);
                -moz-transform: translate(50%, - 50%);
                -ms-transform: translate(50%, - 50%);
                -o-transform: translate(50%, - 50%);

                &:hover {
                    background-color: var(--green-dark);
                }
            }
        }
    }

    header {
        border-bottom: 1px solid var(--line);

        padding-bottom: 1rem;

        h1 { margin: 2rem 0 1.5rem 0; }

        span {
            font-size: 0.875rem;

            display: inline-block;

            & + span {
                position: relative;

                margin-left: 1rem;
                padding-left: 1rem;

                &::before {
                    width: 4px;
                    height: 4px;
                    content: '';

                    background: var(--dot);

                    position: absolute;
                    top: 50%;
                    left: 0;

                    transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);

                    border-radius: 2px;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    -ms-border-radius: 2px;
                    -o-border-radius: 2px;
                }
            }
        }
    }

    .description {
        color: var(--title);
        line-height: 1.675rem;

        margin-top: 2rem;

        p { margin: 1.5rem 0; }
    }
}