* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    /**
    * Aplicada a regra de harmonia de cores.
    *
    * O tema GREEN e PURPLE é apropriado
    * para daltônicos (Deuteranopia, Protanopia e Tritanopia).
    *
    * - Adobe Color
    */
    --white: #fff;
    --black: #000;

    /* - THEME GREEN e PURPLE - */
    --green-very-light: #77ff88;
    --green-light: #05eb6c;
    --green: #04d361;
    --green-dark: #04ba56;
    --green-very-dark: #039444;

    --purple-very-light: #b08fff;
    --purple-light: #9f75ff;
    --purple: #8257e5;
    --purple-dark: #6f48c9;
    --purple-very-dark: #5e3fa6;
    /*--------------------------*/

    --card-background-select-a-podcast: linear-gradient(143.8deg, #9164facc 0%, #9164fa00 100%);

    --title-highlight: var(--white);
    --title: #494d4b;

    --text-highlight: #afb3b1;
    --text: #808080;

    --shape: #f7f8fa;
    --line: #e6e8eb;
    --background: #e5e5e5;
}

body {
    background-color: var(--background);
    color: var(--text);
}

body,
button,
input,
textarea {
    font: 400 1rem "inter", sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 87.5%;
    }
}
